html, body{
  margin: 0;
  padding: 0;
  height: 100%;
  /*overflow: hidden; /* 防止页面超出视口 */
}

main {
  flex: 1;
}
#app {
  height: 100%;
}

main{
  background: linear-gradient(to bottom, #e2e2e2, #ffffff);
}

* {
  box-sizing: border-box;
}
